.titulos{
    color: red;
    font-family: 'Castoro', serif;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.texto{
    margin-top: 10px;
    font-size: 14px;
    color: #707070;
    width: 85%;
    margin-left: 9%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-weight: bold;
}

@media screen and (min-width: 500px){
    .contenedor-texto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .subcontainer.tres{
        display: grid;
        justify-content: center;
        /* grid-column: 3/4; */
        grid-row: 2/3;
    }
    .titulos{
        font-size: 20px;
    }
    .texto{
        font-size: 18px;
    }
}