.titulos{
    color: red;
    font-family: 'Castoro', serif;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.texto{
    margin-top: 10px;
    font-size: 14px;
    color: #707070;
    width: 85%;
    margin-left: 9%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-weight: bold;
}

@media screen and (min-width: 500px){
    .contenedor-texto{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .texto{
        text-align: center;
    }
    .subcontainer.tres{
        margin-top: 25px;
        margin-left: 25%;
        grid-column: span 2;
        width: 600px;
    }
    .titulos{
        font-size: 24px;
    }
    .texto{
        font-size: 20px;
    }
}