.Material_Teorico{
    display: grid;
    justify-content: center;
}
.Titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: #707070;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.Titulo.dos{
    margin-top: 40px;
}

.container-pdf{
    margin-top: 30px;
    display: flex;
    /* justify-content: space-; */
}

.contenedor-pdf{
    display: grid;
    margin-left: 10px;
}

.contenedor-pdf-2{
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;

}
.pdf{
    margin-left: calc( 50% - 13.5px );    
}
.texto-pdf{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;  
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}
.texto-pdf-2{
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;  
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}
.container-pdf-2{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

