.Material_Teorico{
    display: grid;
    justify-content: center;
}
.Titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: #707070;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.Titulo.dos{
    margin-top: 40px;
}

.container-pdf{
    margin-top: 30px;
    display: flex;
}

.contenedor-pdf{
    display: grid;
    margin-left: 10px;
}

.contenedor-pdf-2{
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;

}
.pdf{
    margin-left: calc( 50% - 13.5px );    
}
.texto-pdf{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;  
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}
.texto-pdf-2{
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;  
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
}
.container-pdf-2{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 500px){
    .Titulo{
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: 28px;
    }
    .pdf{
        width: 35px;
    }
    .texto-pdf, .texto-pdf-2{
        font-size: 13px;
    }
    
    .container-pdf{
        margin-left: 100px;
    }
    .contenedor-pdf:hover{
        color: red;
    }
    
    .contenedor-pdf.uno{
        margin-left: 0px;
    }
    .contenedor-pdf{
        margin-left: 150px;
        margin-bottom: 50px;
    }
    
    /* Segundo piso */
    
    .container-pdf-2{
        width: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contenedor-pdf-2.arriba{
        margin-top: 50px;
    }
    .contenedor-pdf-2.abajo{
        margin-top: 40px;
    }
}