
.banner{
    margin-top: 50px;
    margin-left: calc(50% - 375px);
    width: 750px;
    height: 375px;
    animation: banner 20s infinite;
    border-radius: 10px;
}

@keyframes banner{
    0%, 15%{
        background-image: url("../img/grande(1).jpg");
    }
    20%, 35%{
        background-image: url("../img/grande(2).jpg");
        opacity: 1;
    }
    40%, 55%{
        background-image: url("../img/grande(nuevo).jpg");
    }
    60%, 75%{
        background-image: url("../img/grande(4).jpg");
    }
    80%, 95%{
        background-image: url("../img/grande(mercadopago).jpg");

    }
}

@media only screen and (max-width: 350px) {
    .banner{
        margin-top: 10px;
        margin-left: calc(50% - 150px);
        width: 300px;
        height: 150px;
    }

    @keyframes banner{
        0%, 15%{
            background-image: url("../img/chico(1).jpg");
        }
        20%, 35%{
            background-image: url("../img/chico(2).jpg");
            opacity: 1;
        }
        40%, 55%{
            background-image: url("../img/chico(nuevo).jpg");
        }
        60%, 75%{
            background-image: url("../img/chico(4).jpg");
        }
        80%, 95%{
            background-image: url("../img/chico(mercadopago).jpg");
        }
    }
}

@media only screen and (max-width: 749px) and (min-width: 351px) {
    .banner{
        margin-top: 10px;
        margin-left: calc(50% - 175px);
        width: 350px;
        height: 175px;
    }

    @keyframes banner{
        0%, 15%{
            background-image: url("../img/mediano(1).jpg");
        }
        20%, 35%{
            background-image: url("../img/mediano(2).jpg");
            opacity: 1;
        }
        40%, 55%{
            background-image: url("../img/mediano(nuevo).jpg");
        }
        60%, 75%{
            background-image: url("../img/mediano(4).jpg");
        }
        80%, 100%{
            background-image: url("../img/mediano(mercadopago).jpg");
        }
    }
}


